.ribs {
  font-family: verdana, arial, sans-serif;
  font-size: 12pt;
  text-align: left;
}
.ribs strong {
  font-weight: normal;
  text-decoration: none;
}
.ribs.focussed strong {
  text-decoration: underline;
}
.ribs.minimized .list {
  height: 2px;
  overflow: hidden;
  border: 1px solid #aaa;
}
.ribs ul {
  padding: 0;
  margin: 0;
}
.ribs li {
  list-style-type: none;
  cursor: pointer;
  outline: none;
  background: #eee;
}
.ribs .title {
  font-size: 20pt;
  font-weight: normal;
  display: inline-block;
  margin: 0 20px 0 0;
  text-transform: capitalize;
}
.ribs .actions {
  margin-bottom: 10px;
  display: inline-block;
}
.ribs .actions .action {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.ribs .actions .action:focus > .button {
  background: #4682b4;
  color: #fff;
  outline: none;
}
.ribs .actions .action:focus > .button > ul {
  display: block;
}
.ribs .actions .action:hover > .button > ul {
  display: block;
}
.ribs .actions .action.disabled .button {
  color: #ccc;
  cursor: default;
  background: inherit;
}
.ribs .actions .action.disabled .button:hover {
  background: inherit;
}
.ribs .button {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #aaa;
  padding: 2px 6px;
  color: #000;
}
.ribs .button:hover {
  background: #eee;
}
.ribs .button > ul {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 2px;
  left: 0;
  top: 23px;
  width: 150px;
}
.ribs .button > ul > .action {
  background: #fff;
  display: block;
  margin-right: 0;
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
  padding: 2px;
}
.ribs .button > ul > .action:last-child {
  border-bottom: 0 none;
  margin-bottom: 0px;
}
.ribs .button > ul > .action > .button {
  border: 0 none;
  font-size: 80%;
}
.ribs .list {
  border: 1px solid #aaa;
  border-bottom: 0 none;
  overflow-y: scroll;
  overflow-x: auto;
}
.ribs .list .item {
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
}
.ribs .list .item > .cell:hover {
  white-space: normal;
  text-overflow: none;
}
.ribs .list .item:active {
  background: #ddd;
}
.ribs .list .item.selected {
  background: #def;
}
.ribs .list .item.selected:active {
  background: #cde;
}
.ribs .list .item:focus {
  border-left: 4px solid #4682b4;
}
.ribs .list .item:focus > :first-child {
  padding-left: 6px;
}
.ribs .list .item .button {
  font-size: 80%;
  margin: 0 0 0 4px;
  padding: 1px 3px;
}
.ribs .list .item .button .button {
  font-size: 80%;
  padding: 0;
}
.ribs .list .item .edit.button.inline {
  display: none;
}
.ribs .list .item .edit.button.inline.show,
.ribs .list .item:hover .edit.button.inline {
  display: inline;
}
.ribs .list .item .actions {
  margin-bottom: 0;
}
.ribs .header {
  border: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0 none;
  background: #f8f8f8;
}
.ribs .header .arrow {
  margin-left: 2px;
}
.ribs .footer {
  padding: 6px 10px;
  text-align: right;
  background: #f8f8f8;
  border: 1px solid #aaa;
  border-top: 0 none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 80%;
  color: #666;
}
.ribs .item div,
.ribs .header div {
  padding: 6px 10px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ribs-keyboard-shortcuts-overlay {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  height: 400px;
  width: 600px;
  background: rgba(0,0,0,0.75);
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px 2px #000;
  box-shadow: 0 0 40px 2px #000;
  text-shadow: 0px 0px 3px #000;
  overflow: auto;
  padding: 20px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
.ribs-keyboard-shortcuts-overlay h1 {
  margin: 0 0 10px;
  font-size: 16pt;
  text-transform: capitalize;
  font-variant: small-caps;
}
.ribs-keyboard-shortcuts-overlay ul {
  overflow: hidden;
  padding: 0;
}
.ribs-keyboard-shortcuts-overlay li {
  list-style-type: none;
  float: left;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.ribs-keyboard-shortcuts-overlay .key {
  display: inline-block;
  width: 30px;
}
